<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= org.name %> · Agendador</title>
  <link rel="stylesheet" href="<%= cdn %>/styles.css"/>
</head>
<body>
  <h1><%= org.name %></h1>
  <p>Slug: <%= org.slug %></p>
</body>
</html>
